
<div id="header">
</div>
<div id="titles">
       <p class="text-center display-6" id="title1">Hello</p>
       <p class="text-center display-5" id="title2">I Am <span id="developer">Developer</span></p>
</div>