<nav>
       <div class="container" id="navbar-div">
              <a class="navbar-brand text-white navbarsh"" href="#"><span>Deyna </span><i class="fas fa-laptop-code"></i></a>
              
              <ul id="ul-navbar" class="navbarsh">
                     <li class="navbarsh">
                            <a href="#" class="link">Sobre mi</a>
                     </li>
                     <li class=" navbarsh">
                            <a href="#" class="link">Conocimientos</a>
                     </li>
                     <li class=" navbarsh">
                            <a href="#" class="link">Trabajos</a>
                     </li>
                     <li class=" navbarsh">
                            <a href="#" class="link">Contactame</a>
                     </li>
              </ul>
       </div>
</nav>